<?xml version="1.0" ?>
<robot name="pi_robot">

	<!-- * * * Link Definitions * * * -->
	<material name="blue">
	    <color rgba="0 0 0.8 1"/>
	</material>

	<material name="green">
	    <color rgba="0 0.6 0 0.8"/>
	</material>

	<material name="brown">
	    <color rgba="0.3 0.15 0.05 1.0"/>
	</material>




 	<link name="base_link">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="1 1 0.02"/>
			</geometry>
			<material name="green">
	     	</material>
		</visual>
		<collision>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="1 1 0.02"/>
			</geometry>
		</collision>	
	</link>

  
<joint name="link1_jointx" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="base_link"/>
    	<child link="link1x"/>
    	<origin xyz="0 0 0.01" rpy="0 0 0"/>
    	<axis xyz="1 0 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint>  

  <link name="link1x">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>  
  </link>

<joint name="link1_jointy" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link1x"/>
    	<child link="link1z"/>
    	<origin xyz="0 0 0" rpy="0 0 0"/>
    	<axis xyz="0 1 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint> 

  <link name="link1z">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>  
  </link>  

  <joint name="link1_jointz" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link1z"/>
    	<child link="link1"/>
    	<origin xyz="0 0 0" rpy="0 0 0"/>
    	<axis xyz="0 0 1"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint> 


  <link name="link1">
		<visual>
			<origin xyz="0 0 0.5" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.1" length="1"/>
			</geometry>
	     	<material name="brown">
			</material>
	   </visual>
	   <collision>
		    <origin xyz="0 0 0.5" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.1" length="1"/>
			</geometry>
		</collision>	
	</link>


<joint name="link2_jointx" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link1"/>
    	<child link="link2x"/>
    	<origin xyz="0 0 1" rpy="0 0 0"/>
    	<axis xyz="1 0 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint>  

  <link name="link2x">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>  
  </link>

<joint name="link2_jointy" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link2x"/>
    	<child link="link2z"/>
    	<origin xyz="0 0 0" rpy="0 0 0"/>
    	<axis xyz="0 1 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint> 

  <link name="link2z">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>  
  </link>  

  <joint name="link2_jointz" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link2z"/>
    	<child link="link2"/>
    	<origin xyz="0 0 0" rpy="0 0 0"/>
    	<axis xyz="0 0 1"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint> 


  <link name="link2">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.05" length="0.5"/>
			</geometry>
	     	<material name="brown">
			</material>
	   </visual>
	   <collision>
		    <origin xyz="0 0 0.25" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.05" length="0.5"/>
			</geometry>
		</collision>	
	</link>
	

  	
  	<joint name="link3_jointx" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link2"/>
    	<child link="link3x"/>
    	<origin xyz="0 0 0.5" rpy="0 0 0"/>
    	<axis xyz="1 0 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint>  

  <link name="link3x">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>  
  </link>

<joint name="link3_jointy" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link3x"/>
    	<child link="link3z"/>
    	<origin xyz="0 0 0" rpy="0 0 0"/>
    	<axis xyz="0 1 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint> 

  <link name="link3z">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>  
  </link>  

  <joint name="link3_jointz" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link3z"/>
    	<child link="link3"/>
    	<origin xyz="0 0 0" rpy="0 0 0"/>
    	<axis xyz="0 0 1"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint> 
  	

	<link name="link3">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size=".1 .1 .1"/>
			</geometry>
			<material name="green">
	     	</material>
		</visual>
		<collision>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size=".1 .1 .1"/>
			</geometry>
		</collision>	
	</link>
	
	
  	

</robot>